<%= form_for([@organization, @donation]) do |f| %>

    <%= f.label :amount %>
    <%= f.number_field :amount %>

    <%= f.label :date %>
    <%= f.datetime_field :date %>
    <% if @organization %> 
        <%= f.hidden_field :organization_id, value: @organization.id %>
    <% else %>
        <h4>Create an Organization:</h4>
            <%= f.fields_for :organization do |o| %>
                <%= o.label :name %>
                <%= o.text_field :name %>
            <% end %>
    <% end %> 
    <%= f.submit %>

<% end %>